<html lang="en">
  <%- include('./partials/head') %>
  <body style="margin: 0; padding: 0;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar fixed-top bg-yellow">
            <div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link log-out" href="/login">Log Out</a>
                </li>
              </ul>
            </div>

            <div>
              <form class="form-inline mt-2 mt-md-0">
                <input
                  class="form-control mr-sm-2"
                  type="text"
                  placeholder="Search"
                  id="search-input"
                  autocomplete="off"
                />
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <ul id="list-wrapper"></ul>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron mt-3">
            <div class="profile-wrapper">
              <div class="row ">
                <div class="col-3">
                  <div class="profilePhoto-wrapper">
                    <!-- <img
                      src="<%= user? user[0].profile_image ? user[0].profile_image : '/uploads/images/avatar.png' : '' %>"
                      class="profile-image"
                      alt=""
                    /> -->
                    <img
                      src="<%= historyImage[0] ? historyImage[0].history_profile_image :  user? user[0].profile_image : '' %>"
                      class="profile-image"
                      alt=""
                    />
                  </div>
                  <form
                    class="share-status-form"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/shareHistoryImage"
                  >
                    <div class="upload-image-wrapper">
                      <input
                        type="file"
                        name="historyImage"
                        id="files"
                        class="share-input-file"
                      />
                      <label for="files" class="js-labelFile btn-small-success">
                        <span class="js-fileName">History Image</span>
                      </label>
                    </div>

                    <button class="share-status-btn" type="submit">
                      Share
                    </button>
                  </form>
                  <div class="name-wrapper d-flex align-items-center">
                    <a href="/profile" class="d-flex name-text-wrapper">
                      <h3 style="margin: 10px;" id="userName">
                        <%= user? user[0].name : '' %>
                      </h3>
                      <h3 style="margin: 10px;" id="userSurname">
                        <%= user? user[0].surname : '' %>
                      </h3>
                    </a>
                  </div>
                </div>
                <div class="col-5 offset-2">
                  <div class="notifications-wrapper">
                    <button class="message-notes" id="messagesBtn">
                      Messages
                    </button>

                    <button class="message-notes" id="notificationBtn">
                      Notifications
                    </button>
                    <ul id="friendRequestList"></ul>
                  </div>
                </div>
                <div class="col-4 offset-4">
                  <form
                    action="/uploadProfilePhoto"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <div class="input-group">
                      <div class="custom-file">
                        <input
                          type="file"
                          name="profilePhoto"
                          class="custom-file-input"
                        />
                        <label class="custom-file-label"
                          >Change profile photo</label
                        >
                      </div>
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-primary"
                          type="submit"
                          id="inputGroupFileAddon04"
                        >
                          Change
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <form
                    class="share-status-form"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/shareStatus"
                  >
                    <input
                      type="text"
                      name="status"
                      placeholder="Share status"
                      class="share-status-input"
                    />
                    <div class="upload-image-wrapper">
                      <input
                        type="file"
                        name="statusImage"
                        id="file"
                        class="share-input-file"
                      />
                      <label for="file" class="js-labelFile btn-small-success">
                        <span class="js-fileName">Image</span>
                      </label>
                    </div>

                    <button class="share-status-btn" type="submit">
                      Share
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-wrapper">
        <div class="col-2 offset-1">
          <div>
            <button class="sittings-wrapper" id="friends-btn" type="submit">
              Friends
            </button>
          </div>
        </div>
        <div class="col-2">
          <div>
            <button class="sittings-wrapper" id="messages-btn" type="submit">
              Messages
            </button>
          </div>
        </div>
        <div class="col-2">
          <div>
            <button class="sittings-wrapper" type="submit" id="news-btn">
              News
            </button>
          </div>
        </div>
        <div class="col-2">
          <div>
            <button id="photos-btn" type="submit" class="sittings-wrapper">
              Photos
            </button>
          </div>
        </div>
        <div class="col-2">
          <div>
            <button class="sittings-wrapper" type="submit" id="sittings-btn">
              Sittings
            </button>
          </div>
        </div>
      </div>

      <div class="message-wrapper close">
        <div class="row">
          <div class="col-4">
            <div class="messages-left-content">
              <ul class="message-friends-group"></ul>
            </div>
          </div>
          <div class="col-8">
            <div class="messages-right-content">
              <div class="messages">
                <ul class="messagel-list-group"></ul>
              </div>
              <div class="sendMessageWrapper">
                <form class="send-message-form">
                  <input
                    type="text"
                    placeholder="Enter message"
                    class="sendMessageText"
                  />
                  <input
                    type="submit"
                    value="Send"
                    class="sendMessageBtn btn-small-success"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="status-wrapper"
        data-id="<%= user? user[0].ID : '' %>"
        data-name="<%= user? user[0].name : '' %>"
        data-surname="<%= user? user[0].surname : '' %>"
      ></div>

      <form id="changeForm" class="changeForm close">
        <h1>Change Information</h1>
        <div class="change-input-wrapper">
          <small id="inform-about-changes"></small>
          <input type="text" name="name" id="nameInput" />
          <small id="nameError"></small>
          <input type="text" name="surname" id="surnameInput" />
          <small id="surnameError"></small>
          <input type="text" name="age" id="ageInput" />
          <small id="ageError" style="text-align: center;"></small> <br />
          <button id="saveChanges">Save</button>
        </div>
      </form>
      <div class="modal-image" id="myModal">
        <span class="closeSpan">&times;</span>
        <img class="modal-content" id="img01" />
      </div>
      <div class="images-wrapper">
        <div class="modal-image" id="myModal">
          <span class="closeSpan">&times;</span>
          <img class="modal-content" id="img01" />
        </div>

        <form
          action="/uploadRegImage"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" name="myimage" class="upload-reg-image-input" />
          <input type="submit" value="Add Image" />
        </form>

        <ul class="photos-list-group"></ul>
      </div>
      <div class="friends-page-wrapper"></div>
    </div>

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
