<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <form action="/createUser" method="POST" class="form-wrapper">
        <h1 style="text-align: center;">Sign up</h1>
        <input
          type="text"
          placeholder="name"
          name="name"
          class="input-type-text"
          value='<%= user? user.name : ""  %>'
        />
        <small><%= errors.name ? errors.name.msg : '' %></small>
        <input
          type="text"
          placeholder="surname"
          name="surname"
          value='<%= user? user.surname : "" %>'
          class="input-type-text"
        />
        <small><%= errors.surname ? errors.surname.msg : '' %></small>
        <input
          type="text"
          placeholder="age"
          name="age"
          value='<%= user? user.age : "" %>'
          class="input-type-text"
        />
        <small><%= errors.age ? errors.age.msg : '' %></small>
        <input
          type="text"
          placeholder="Email"
          name="email"
          value='<%= user? user.email : "" %>'
          class="input-type-text"
        />
        <small><%= mailExistError ? mailExistError : '' %></small>
        <small><%= errors.email ? errors.email.msg : '' %></small>
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="input-type-text"
        />
        <small><%= errors.password ? errors.password.msg : '' %></small>
        <input
          type="password"
          placeholder="Confirm password"
          name="confirmPassword"
          class="input-type-text"
        />
        <small
          ><%= errors.confirmPassword ? errors.confirmPassword.msg : ''
          %></small
        >

        <input type="submit" value="Sign Up" class="input-type-btn" />
      </form>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
